---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Developer Portfolios | Credits'>
 <div class='p-4'>
  <p>The creation of this website wouldn't have been possible without the work of this guy</p>
  <a href='https://github.com/emmabostian/developer-portfolios/' class='text-blue-500 hover:underline'>https://github.com/emmabostian/developer-portfolios/</a>
 </div>
</Layout>
