{
 "arrowParens": "avoid",
 "singleQuote": true,
 "jsxSingleQuote": true,
 "printWidth": 600,
 "tabWidth": 1,
 "htmlWhitespaceSensitivity": "ignore",
 "overrides": [
  {
   "files": ["*.astro"],
   "options": {
    "parser": "astro",
    "plugins": ["prettier-plugin-astro", "prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss", "prettier-plugin-pkg"]
   }
  }
 ]
}
