---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import { normalizeName } from '../../../../shared/lib';

export async function getStaticPaths() {
 const developers = await getCollection('developers');
 return developers.map(developer => ({ params: { identifier: normalizeName(developer.data.name) }, props: { developer } }));
}
const { developer } = Astro.props;
---

<Layout title={`Developer Portfolios - ${developer.data.name}}`}>
 <main class='flex h-screen flex-col items-center justify-center'><Image src={developer.data.screenshot} alt={`${developer.data.name}'s website screenshot'`} width={developer.data.screenshot.width} quality={80} decoding='async' loading='lazy' format='webp' class='w-3/4 border-2 border-black drop-shadow-xl' quality={80} decoding='async' loading='eager' format='webp' transition:name='screenshot' /></main>
</Layout>
