---
import { Icon } from 'astro-icon/components';
---

<footer class='bg-white py-16 max-sm:px-4' transition:persist>
 <div class='mx-auto flex max-w-7xl flex-col items-center justify-center rounded-lg border-2 border-black px-6 py-16 shadow-md md:px-8 lg:px-12'>
  <p class='text-pretty text-center' text-center'>All rights reserved to the respective site owners <span>@ {new Date().getFullYear()}</span></p>
  <ul class='flex flex-row items-center justify-center gap-4 pt-4'>
   <li><a href='https://github.com/aryxst/developer-portfolios'><Icon name='lucide:github' width={32} height={32} /></a></li>
  </ul>
 </div>
</footer>
