<footer class='bg-white py-16' transition:persist>
 <div class='mx-auto flex max-w-7xl items-center justify-center rounded-lg border px-6 py-16 shadow md:px-8 lg:px-12'>
  <p>All rights reserved to the respective site owners @ {new Date().getFullYear()}</p>
 </div>
</footer>
