---
import { href } from '@/utils';
---

<nav class='bg-white py-4 shadow' transition:persist>
 <ul class='mx-auto flex max-w-screen-xl items-center justify-center gap-x-4'>
  <li><a href={href('/')}>home</a></li>|
  <li><a href={href('/page/1')}>browse</a></li>|
  <li><a href={href('/featured')}>featured</a></li>|
  <li><a href={href('/tags')}>tags</a></li>
 </ul>
</nav>
