---
import { href } from '@/utils';
---

<nav class='py-4 shadow'>
 <ul class='mx-auto flex max-w-screen-xl items-center justify-center gap-x-4'>
  <li class='hover:underline'><a href={href('/')}>home</a></li>|
  <li class='hover:underline'><a href={href('/page/1')}>browse</a></li>|
  <li class='hover:underline'><a href={href('/tags')}>tags</a></li>|
 </ul>
</nav>
