<nav>
 <ul class='flex h-12 items-center justify-center gap-4 border-b-2 p-4 shadow-sm'>
  <li><a href='/page/1'>home</a></li>|
  <li><a href='/tags'>tags</a></li>|
  <li><a href='/credits'>credits</a></li>
 </ul>
</nav>
